<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>LOVERICE - Votre outil d'épargne</title>

	<link rel="shortcut icon" href="../static/images/LOVERICE head.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">




	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../static/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="../static/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../static/js/html5shiv.js"></script>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

	<!-- ICI CSS TESTIMONIALS -->
	
	<link href="../static/css/testimonials.css" rel="stylesheet" type="text/css" media="all" />
	<script src="../static/js/jquery.min.js"></script>
	
	

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
						class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="Accueil"><img src="../static/images/LOVERICE__8_-removebg-preview.png"
						alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#">Accueil</a></li>
					<li><a href="ChoixThème">Choisissez votre Thème</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Nos Thèmes et Articles <b
								class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="Thèmes">Thèmes</a></li>
							<li class="active"><a href="Articles">Articles</a></li>
						</ul>
					</li>
					<li><a href="contact">Contactez-nous</a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">LOVERICE</h1>
				<p class="tagline">All we LOVE for the better PRICE </a></p>
				<p><a class="btn btn-default btn-lg" role="button" href="#footer"  > À propos de LOVERICE...</a> <a
						class="btn btn-action btn-lg" role="button"
						href="ChoixThème">Tester
						LOVERICE</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">LOVERICE un site innovateur ! </h2>
		<p class="text-muted">Loverice est un site Web qui compare pour vous les prix entre un même produit pour trouver
			le meilleur choix possible parmi une sélection destinée à vous plaire... <br> Vous cochez différents
			thèmes avec un maximum de 3 thèmes et LOVERICE vous proposera par la suite 2 produits par thème qui auront
			été comparés pour vous et qui vous éviterons de chercher une idée ou tout simplement le prix le plus bas...

		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Pourquoi LOVERICE ?</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-cogs fa-5"></i>Anticonsumérisme</h4>
					</div>
					<div class="h-body text-center">
						<p>Loverice lutte contre notre société de consommation.
							Loverice ne sera jamais une vitrine de 50 produits où on ne sait même plus quoi regarder et
							surtout on est poussé à consommer des produits que l’on ne souhaitait même pas au départ...
							<br> Loverice c'est la solution ! ! !
							<br> Simple et ergonomique il ne vous poussera jamais à trop consommer en proposant une
							multitude de produits à la fois !
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-flash fa-5"></i>Un outil face à l'inflation</h4>
					</div>
					<div class="h-body text-center">
						<p>Loverice s'engage à vous aider face à la hausse considérable des prix, aux pénuries et au
							fluctuation du marché <br>

							En achetant au prix le plus bas vous serez gagnant et votre pouvoir d'achat augmentera<br>

							Loverice c'est un économiseur d'argent </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-heart fa-5"></i>Gain de temps</h4>
					</div>
					<div class="h-body text-center">
						<p>Chercher sois même le meilleur prix ou passer son temps à regarder des produits que l’on ne
							souhaite même pas vous fait perdre un temps considérable dans l’achat d’un produit.

							LOVERICE est synonyme de gain de temps… vous savez ce que vous voulez, vous le cherchez,
							vous l’achetez.

							Ce n’est pas une vitrine de multitudes de produits qui apparaissent dès lors que le site est ouvert.

							C'est simple, facile et économique (Vous n'économisez pas seulement de l'argent mais aussi
							de votre temps ).
						</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption">
						<h4><i class="fa fa-smile-o fa-5"></i>Ergonomique</h4>
					</div>
					<div class="h-body text-center">
						<p>LOVERICE est un site simple, facile à comprendre et à prendre en main !
							<br> Nous sommes constamment à l'écoute de nos utilisateurs, ainsi nous proposons des fonctionnalités et un visuel qui vous plaît. 
							<br> LOVERICE est un site au design épuré et sobre de quoi à la fois plaire à vos yeux mais aussi à vos poches ;) </p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Questions fréquentes</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>Comment fonctionne LOVERICE ? <br>Quelle est la différence avec les autres comparateurs de prix ?
				</h3>
				<p>Son utilisation est simple, il suffit de <a
						href="ChoixThème">
						cocher 1 à 3 thèmes </a> qui correspondent à l'article que vous cherchez, LOVERICE se chargera
					de vous proposer les deux meilleurs offres pour chaque thèmes séléctionnés.
					<br>À la différence des autres comparateurs LOVERICE vous propose un accompagnement personnel dans
					la recherche d'un article lorsque vous n'avez pas forcément d'idées en tête.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Comment effectuer un achat ?</h3>
				<p> LOVERICE n'est pas un site Ecommerce avec une platefrome d'achat. <br> Nous vous redirigons une fois
					l'article comparé ou suggéré vers le vendeur <br><em> (il vous suffit tout simplement de cliquer sur
						l'article et vous serez redirigé vers le site du vendeur). </em>
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>Quels sont les types d'articles que LOVERICE propose ? </h3>
				<p> LOVERICE est spécialisé dans les articles Multimédia.
					<br> Vous pouvez cliquer sur <a
						href="Thèmes">
						thèmes </a> et <a
						href="Articles">
						articles </a> pour les consulter.
				</p>
			</div>
			<div class="col-sm-6">
				<h3>Comment vous contacter ? </h3>
				<p>Vous pouvez nous contacter ici <a
						href="contact">
						Contactez-nous </a><br><em>N'hésitez pas à nous écrire pour toutes autres informations</em></p>
			</div>
		</div> <!-- /row -->

		

	</div>
	<!-- /container -->
	<!-- ICI TEMOIGNANGES -->
	<div class="container">
	<h2 class="text-center top-space">Commentaires Récents...</h2>

	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="../static/js/testimonials.js"></script>

<div class="items">
  
 <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                        
                        <div class="template-demo">
                            <p>Ce site m'a apporté une grande aide, j'ai acheté tout les cadeaux de Noel de ma famille grâce aux suggestions proposées.</p>
                        </div>

                        <hr>

                        <div class="row">

                              <div class="col-sm-2">

                                    <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                                    
                              </div>

                              <div class="col-sm-10">
                                    
                                    <div class="profile">
                                      
                                      <h4 class="cust-name">Sacha Djilsi</h4>
                                    <p class="cust-profession">Etudiant</p>    

                                    </div>
                                    
                                    
                              </div>
                              

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                        
                        <div class="template-demo">
                            <p>J'utilise LOVERICE depuis maintenant 4 mois et je suis ravi, Les casques et écrans suggérés par le site m'ont fait gagner un temps précieux pour la mise en place de mon setup.</p>
                        </div>

                        <hr>

                        <div class="row">

                              <div class="col-sm-2">

                                   <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">


                                    
                              </div>

                              <div class="col-sm-10">
                                    
                                    <div class="profile">
                                      
                                      <h4 class="cust-name">Benjamin Epps</h4>
                                    <p class="cust-profession">Streameur</p>    

                                    </div>
                                    
                                    
                              </div>
                              

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                        
                        <div class="template-demo">
                            <p>Je recommande LOVERICE. C'est simple, efficace et ça m'aide beaucoup dans mes économies.</p>
                        </div>

                        <hr>

                        <div class="row">

                              <div class="col-sm-2">

                                    <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                                    
                              </div>

                              <div class="col-sm-10">
                                    
                                    <div class="profile">
                                      
                                      <h4 class="cust-name">Anonyme </h4>
                                    <p class="cust-profession">Anonyme</p>    

                                    </div>
                                    
                                    
                              </div>
                              

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                        
                        <div class="template-demo">
                            <p>J'ai économisé beaucoup d'argent, j'adore ce site !!!</p>
                        </div>

                        <hr>

                        <div class="row">

                              <div class="col-sm-2">

                                    <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                                    
                              </div>

                              <div class="col-sm-10">
                                    
                                    <div class="profile">
                                      
                                      <h4 class="cust-name">Christian Isla</h4>
                                    <p class="cust-profession">Un passioné de musique</u></p>    

                                    </div>
                                    
                                    
                              </div>
                              

                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                        
                        <div class="template-demo">
                            <p>Une idée innovante j'ai découvert une nouvelle façon de consommer.</p>
                        </div>

                        <hr>

                        <div class="row">

                              <div class="col-sm-2">

                                    <img class="profile-pic" src="https://img.icons8.com/bubbles/100/000000/edit-user.png">
                                    
                              </div>

                              <div class="col-sm-10">
                                    
                                    <div class="profile">
                                      
                                      <h4 class="cust-name">Lori Charles</h4>
                                    <p class="cust-profession">Manager CapGemini</p>    

                                    </div>
                                    
                                    
                              </div>
                              

                        </div>
                    </div>
                </div>



</div>
</div>
</div>

	<!-- Social links. @TODO: replace by link/instructions in template -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
					<a class="addthis_button_linkedin_counter"></a>
					<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 1 23 45 67 67<br>
								<a href="mailto:#">Loverice@LOVERICE.fr</a><br>
								<br>110 esplanade du Général-de-Gaulle 92932 Paris La Défense Cedex | France.
								
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Suivez-nous</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://github.com/ZixinPU/projet_integratif"><i class="fa fa-github fa-2"></i></a>
								<a href="https://facebook.com/"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de nous...</h3>
						<div class="widget-body">
							<p>LOVERICE est une idée née d'un anniversaire, n'ayant pas d'idées de cadeaux, un budget limité et surtout presser par le temps. Nous avons eu l'idée de créer LOVERICE pour vous faciliter dans vos achats et vous proposer ainsi un acompagnement personalisé grâce aux produits suggérés...<div class=""></div> </p>
							<p></p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="Accueil">Accueil</a> |
								<a href="ChoixThème">Choisissez votre thème</a> |
								<a href="Thèmes">Nos Thèmes</a> |
								<a href="contact">Contactez-nous</a> |
								
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright | LOVERICE | 2022 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>





	<!--  JavaScript libs are placed at the end of the document so the pages load faster -->

	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../static/js/headroom.min.js"></script>
	<script src="../static/js/jQuery.headroom.min.js"></script>
	 <script src="../static/js/template.js"></script>  
</body>

</html>