<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>LOVERICE - Votre outil d'épargne</title>

	<link rel="shortcut icon" href="../static/images/LOVERICE head.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">


	<link rel="stylesheet" href="../static/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="../static/css/main.css">






	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/choixthemes.css">



</head>

<body>
	
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
						class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="Accueil"><img src="../static/images/LOVERICE__8_-removebg-preview.png"
						alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="Accueil">Accueil</a></li>
					<li class="active"><a href="ChoixThème">Choisissez votre Thème</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos Thèmes et Articles <b
								class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="Thèmes">Thèmes</a></li>
							<li><a href="Articles">Articles</a></li>
						</ul>
					</li>
					<li><a href="contact">Contactez-nous</a></li>
				</ul>
			</div>
		</div>
	</div>
	

	<!DOCTYPE html>
	<html lang="en">
	
	<head>
		...
		<link rel="stylesheet" href="../static/css/custom.css">
	</head>
	
	<body>
		...
		<div class="breadcrumb-container">
			<div class="container2">
				<ol class="breadcrumb">
					<li><a href="Accueil">Accueil</a></li>
					<li class="active">Choisissez votre Thème</li>
				</ol>
			</div>
		</div>
		...
	

	


	<div class="container-fluid bg-white form-wrapper">
		<form action="/ArticlesMoinsChere" method="post" class="form-theme">
		  <div class="form-group">
			<label for="theme" class="theme-label">Choisissez votre Thème :</label>
			<div class="input-group">
			  <select id="theme" name="theme" class="form-control theme-select">
				<option value="TV">TV</option>
				<option value="CasqueBluetooth">Casque Bluetooth</option>
				<option value="EnceinteBluetooth">Enceinte Bluetooth</option>
				<option value="ConsolesDeJeux-Video">Consoles De Jeux-Video</option>
				<option value="Tablette">Tablette</option>
				<option value="EcranPC">Ecran PC</option>
				<option value="OrdinateurPortbale">Ordinateur Portable</option>
				<option value="EcouteurBluetooth">Ecouteurs Sans Fil</option>
				<option value="Smartphone">Smartphone</option>
			  </select>
			  <div class="input-group-append">
				<button type="submit" class="btn btn-theme btn-orange">RECHERCHER</button>
			  </div>
			</div>
		  </div>
		</form>
	  </div>
	  
	  <div class="background-image">
		<img src="../static/images/lovericethemes.png" alt="Image">
	</div>
	 
	






	<!-- JavaScript -->
	<script src="../static/js/selecteur.js"></script>




<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>+33 1 23 45 67 67<br>
							<a href="mailto:#">Loverice@LOVERICE.fr</a><br>
							<br>110 esplanade du Général-de-Gaulle 92932 Paris La Défense Cedex | France.

						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Suivez-nous</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href="https://twitter.com/"><i class="fa fa-twitter fa-2"></i></a>
							<a href="https://github.com/ZixinPU/projet_integratif"><i class="fa fa-github fa-2"></i></a>
							<a href="https://facebook.com/"><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title">A propos de nous...</h3>
					<div class="widget-body">
						<p>LOVERICE est une idée née d'un anniversaire, n'ayant pas d'idées de cadeaux, un budget
							limité et surtout presser par le temps. Nous avons eu l'idée de créer LOVERICE pour vous
							faciliter dans vos achats et vous proposer ainsi un acompagnement personalisé grâce aux
							produits suggérés...
						<div class=""></div>
						</p>
						<p></p>
					</div>
				</div>

			</div> 
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="Accueil">Accueil</a> |
							<a href="ChoixThème">Choisissez votre thème</a> |
							<a href="Thèmes">Nos Thèmes</a> |
							<a href="contact">Contactez-nous</a> |

						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright | LOVERICE | 2022
						</p>
					</div>
				</div>

			</div> 
		</div>
	</div>

</footer>











<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/headroom.min.js"></script>
<script src="../static/js/jQuery.headroom.min.js"></script>
<script src="../static/js/template.js"></script>

	</body>
	</html>