<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>LOVERICE - Votre outil d'épargne</title>

	<link rel="shortcut icon" href="../static/images/LOVERICE head.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../static/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../static/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../static/js/html5shiv.js"></script>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="../static/css/contact.css">
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="Acceuil"><img src="../static/images/LOVERICE__8_-removebg-preview.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="Acceuil">Acceuil</a></li>
					<li><a href="ChoixThème">Choisissez votre Thème</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos Thèmes et Articles<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="Thèmes">Thèmes</a></li>
							<li><a href="Articles">Articles</a></li>
						</ul>
					</li>
					<li class="active"><a href="contact">Contactez-nous</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="acceuil">Acceuil</a></li>
			<li class="active">Contactez-nous</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contactez-nous</h1>
				</header>
				
				<p>
					Nous aimerions recevoir de vos nouvelles. Remplissez le formulaire ci-dessous avec quelques informations et nous vous répondrons dès que possible. Veuillez nous accorder quelques jours pour vous répondre.
				</p>
				<br>
					<form name="formulaire" method="get" action="http://127.0.0.1:5000/recu">
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" name="nom" placeholder="Nom" required>
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="email" name="email" placeholder="Email" required>
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="tel" name="num" placeholder="Numéro de téléphone" required>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Tapez votre message ici..." name="message" class="form-control" rows="9" required></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6">
								<label class="checkbox"><input type="checkbox"> S'inscrire aux Newsletters</label>
							</div>
							<div class="col-sm-6 text-right">
								 <input class="btn btn-action" type="submit" value="Envoyer le message"  >
							</div>
						</div>
					</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Adresse</h4>
					<address>
						110 esplanade du Général-de-Gaulle 92932 Paris La Défense Cedex | France.
					</address>
					<h4>Numéro de téléphone:</h4>
					<address>
						+33 1 23 45 67 67
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 1 23 45 67 67<br>
								<a href="mailto:#">Loverice@LOVERICE.fr</a><br>
								<br>110 esplanade du Général-de-Gaulle 92932 Paris La Défense Cedex | France.
								
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Suivez-nous</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://github.com/ZixinPU/projet_integratif"><i class="fa fa-github fa-2"></i></a>
								<a href="https://facebook.com/"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de nous...</h3>
						<div class="widget-body">
							<p>LOVERICE est une idée née d'un anniversaire, n'ayant pas d'idées de cadeaux, un budget limité et surtout presser par le temps. Nous avons eu l'idée de créer LOVERICE pour vous faciliter dans vos achats et vous proposer ainsi un acompagnement personalisé grâce aux produits suggérés...<div class=""></div> </p>
							<p></p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="Acceuil">Acceuil</a> |
								<a href="ChoixThème">Choisissez votre thème</a> |
								<a href="Thèmes">Nos Thèmes</a> |
								<a href="contact">Contactez-nous</a> |
								
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright | LOVERICE | 2022 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>

		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../static/js/headroom.min.js"></script>
	<script src="../static/js/jQuery.headroom.min.js"></script>
	<script src="../static/js/template.js"></script>
	
	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script> 
	<script src="../static/js/google-map.js"></script>
	

</body>
</html>