<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

	<title>LOVERICE - Votre outil d'épargne</title>

	<link rel="shortcut icon" href="assets/images/LOVERICE head.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->


	<!-- css themes -->
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
						class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="Acceuil.html"><img src="assets/images/LOVERICE__8_-removebg-preview.png"
						alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="Acceuil.html">Acceuil</a></li>
					<li><a href="ChoixThème.html">Choisissez votre Thème</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos Thèmes et Articles <b
								class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="Thèmes.html">Thèmes</a></li>
							<li><a href="Articles.html">Articles</a></li>
						</ul>
					</li>
					<li><a href="contact.html">Contactez-nous</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="acceuil.html">Acceuil</a></li>
			<li>Nos Thèmes et Articles</li>
			<li class="active">Thèmes</li>
		</ol>

	</div> <!-- /container -->

	<!-- themes -->
	<div class="themes">
		<ul class="cards1">
			<li>
				<a href="TV.html" class="card1">
					<img src="assets/images/tv.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="assets/images/TV1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">TV</h3>
								<span class="card__status1">Téléviseurs</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="CasqueBluetooth.html" class="card1">
					<img src="assets/images/CASQUE.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="assets/images/casque1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Casque Bluetooth</h3>
								<span class="card__status1">Casque Audio Bluetooth.</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="Smartphone.html" class="card1">
					<img src="assets/images/TEL.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="assets/images/tel1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Smartphone</h3>
								<span class="card__tagline1"></span>
								<span class="card__status1">Téléphone (Iphone, Samsung...)</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="EcranPC.html" class="card1">
					<img src="assets/images/ECRAN.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="assets/images/ecran1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Moniteur/Ecran de PC</h3>
								<span class="card__status1">Ecran pour ordinateur fixe.</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="OrdinateurPortbale.html" class="card1">
					<img src="assets/images/LAPTOP.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="assets/images/laptop1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Ordinateur portable</h3>
								<span class="card__status1">Laptop.</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="EnceinteBluetooth.html" class="card1">
					<img src="assets/images/ENCEINTE.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="ASSETS/images/enceinte1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Enceinte Bluetooth</h3>
								<span class="card__status1">Enceinte, Baffle de musique en Bluetooth.</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="Tablette.html" class="card1">
					<img src="assets/images/TABLETTE.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="ASSETS/images/tablette1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Tablette</h3>
								<span class="card__status1">Tablette tactile (Iphone, Samsung...)</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="EcouteursBluetooth.html" class="card1">
					<img src="ASSETS/images/ECOUTEURS.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="ASSETS/images/ecouteurs1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Ecouteurs Bluetooth</h3>
								<span class="card__status1">Ecouteur audio sans fils.</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
			<li>
				<a href="ConsolesDeJeux-Video.html" class="card1">
					<img src="ASSETS/images/MANETTE.png" class="card__image1" alt="" />
					<div class="card__overlay1">
						<div class="card__header1">
							<svg class="card__arc1" xmlns="http://www.w3.org/2000/svg">
								<path />
							</svg>
							<img class="card__thumb1" src="ASSETS/images/manette1.png" alt="" />
							<div class="card__header-text1">
								<h3 class="card__title1">Consoles de Jeux-Video</h3>
								<span class="card__status1">Consoles type Playstation, Xbox, Nintendo</span>
							</div>
						</div>
						<p class="card__description1"><em>Vous pouvez retrouver les articles de ce thème en cliquant dessus.</em></p>
					</div>
				</a>
			</li>
		</ul>


		


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 1 23 45 67 67<br>
								<a href="mailto:#">Loverice@LOVERICE.fr</a><br>
								<br>110 esplanade du Général-de-Gaulle 92932 Paris La Défense Cedex | France.

							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Suivez-nous</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://twitter.com/"><i class="fa fa-twitter fa-2"></i></a>
								<a href="https://github.com/ZixinPU/projet_integratif"><i
										class="fa fa-github fa-2"></i></a>
								<a href="https://facebook.com/"><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">A propos de nous...</h3>
						<div class="widget-body">
							<p>LOVERICE est une idée née d'un anniversaire, n'ayant pas d'idées de cadeaux, un budget
								limité et surtout presser par le temps. Nous avons eu l'idée de créer LOVERICE pour vous
								faciliter dans vos achats et vous proposer ainsi un acompagnement personalisé grâce aux
								produits suggérés...
							<div class=""></div>
							</p>
							<p></p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="Acceuil.html">Acceuil</a> |
								<a href="ChoixThème.html">Choisissez votre thème</a> |
								<a href="Thèmes.html">Nos Thèmes</a> |
								<a href="contact.html">Contactez-nous</a> |

							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright | LOVERICE | 2022
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>






	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>

</html>